#
# Swupdate Configuration for i.MX6ULL Dual-Bank HMI
#
CONFIG_HAVE_DOT_CONFIG=y

#
# Swupdate Settings
#
CONFIG_DEFAULT_CONFIG_FILE="/etc/swupdate.cfg"
CONFIG_SCRIPTS=y
# CONFIG_HW_COMPATIBILITY is not set
CONFIG_SW_VERSIONS_FILE="/etc/sw-versions"

#
# Socket Paths
#
CONFIG_SOCKET_CTRL_PATH=""
CONFIG_SOCKET_PROGRESS_PATH=""
CONFIG_SOCKET_REMOTE_HANDLER_DIRECTORY="/tmp/"
CONFIG_MTD=y
CONFIG_LUA=y
CONFIG_LUAPKG="lua"

#
# Bootloader Interface
#
CONFIG_UBOOT=y
CONFIG_UBOOT_FWENV="/etc/fw_env.config"

#
# Download and SSL Options
#
CONFIG_CURL=y
CONFIG_DOWNLOAD=y
CONFIG_SSL_IMPL_OPENSSL=y

#
# Webserver & Suricatta
#
CONFIG_WEBSERVER=y
CONFIG_MONGOOSE=y
CONFIG_MONGOOSEIPV6=y
CONFIG_SURICATTA=y
CONFIG_SURICATTA_HAWKBIT=y

#
# Compression
#
CONFIG_GUNZIP=y

#
# Parser Features
#
CONFIG_LIBCONFIG=y
CONFIG_PARSERROOT=""

#
# Image Handlers
#
CONFIG_CFI=y
CONFIG_RAW=y
CONFIG_LUASCRIPTHANDLER=y
CONFIG_SHELLSCRIPTHANDLER=y
