# Yocto Build Artifacts & Large Cache Directories
build-hmi/tmp*/
build-hmi/downloads/
build-hmi/sstate-cache/
build-hmi/cache/
build-hmi/bitbake-cookerdaemon.log
build-hmi/*.lock
build-hmi/*.sock

# Output binaries and temporary archives
*.dtb
zImage
touch_draw
*.tar.gz
*.tar.xz
debian-binary
empty_test.txt
*.imx

# Temporary & Editor files
*.swp
*~
.DS_Store
.idea/
.vscode/
