# Yocto Build Artifacts & Large Cache Directories
build-hmi/tmp*/
build-hmi/downloads/
build-hmi/sstate-cache/
build-hmi/cache/
build-hmi/bitbake-cookerdaemon.log
build-hmi/*.lock
build-hmi/*.sock

# Output binaries and temporary archives
*.dtb
zImage
touch_draw
*.tar.gz
*.tar.xz
debian-binary
empty_test.txt
*.imx
!meta-custom-hmi/recipes-bsp/u-boot/files/*.imx
logo.bmp
splash.bmp

# Temporary & Editor files
*.swp
*~
.DS_Store
.idea/
.vscode/
meta-custom-hmi/scratch/

# External Yocto layers and documentation
poky/
meta-freescale/
meta-openembedded/
meta-qt5/
meta-swupdate/
document/
p17_*.txt
flash_sd_card.sh
boot.scr
/hmi-app
build-hmi/conf/templateconf.cfg

