// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (C) 2026 Custom HMI Solutions
 * Device Tree for Custom i.MX6ULL HMI Board (Forlinx OKMX6ULL-C derived)
 */

/dts-v1/;

#include "imx6ull-14x14-evk.dts"

/ {
	model = "Custom i.MX6ULL HMI Board (Forlinx OKMX6ULL-C Derived)";
	compatible = "fsl,imx6ull-14x14-evk", "fsl,imx6ull";

	chosen {
		stdout-path = &uart6;
	};
};

&iomuxc {
	pinctrl_uart6: uart6grp {
		fsl,pins = <
			MX6UL_PAD_CSI_MCLK__UART6_DCE_TX    0x1b0b1
			MX6UL_PAD_CSI_PIXCLK__UART6_DCE_RX  0x1b0b1
		>;
	};
};

/* Primary Serial Debug Console on P17 Pins 7 & 9 (UART6 /dev/ttymxc5) */
&uart6 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart6>;
	status = "okay";
};

/* UART1 USB Debug Port (/dev/ttymxc0) */
&uart1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart1>;
	status = "okay";
};

/* UART2 Serial Console (/dev/ttymxc1) */
&uart2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart2>;
	status = "okay";
};


/* Parallel 7" / 10" RGB LCD Configuration (1024x600 @ 51.2 MHz) */
&lcdif {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_lcdif_dat
		     &pinctrl_lcdif_ctrl>;
	display = <&display0>;
	status = "okay";

	display0: display0 {
		bits-per-pixel = <24>;
		bus-width = <24>;

		display-timings {
			native-mode = <&timing0>;

			timing0: timing0 {
				clock-frequency = <51200000>;
				hactive = <1024>;
				vactive = <600>;
				hfront-porch = <160>;
				hback-porch = <160>;
				hsync-len = <1>;
				vback-porch = <23>;
				vfront-porch = <12>;
				vsync-len = <1>;

				hsync-active = <0>;
				vsync-active = <0>;
				de-active = <1>;
				pixelclk-active = <0>;
			};
		};
	};
};

/* I2C1 Bus (P17 Pins 7 & 9): Goodix GT911 Capacitive Touch (0x5d) & PCF8563 RTC (0x51) */
&i2c1 {
	clock-frequency = <100000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c1>;
	status = "okay";

	/* Goodix GT911 / GT9xx Capacitive Touchscreen */
	goodix_ts@5d {
		compatible = "goodix,gt911", "goodix,gt9xx";
		reg = <0x5d>;
		interrupt-parent = <&gpio5>;
		interrupts = <1 IRQ_TYPE_EDGE_FALLING>;
		reset-gpios = <&gpio5 0 GPIO_ACTIVE_LOW>;
		status = "okay";
	};

	/* PCF8563 Real-Time Clock */
	pcf8563: rtc@51 {
		compatible = "nxp,pcf8563";
		reg = <0x51>;
		status = "okay";
	};
};

/* Dual Ethernet (FEC1 & FEC2) */
&fec1 {
	status = "okay";
};

&fec2 {
	status = "okay";
};
